.contact {
  display: flex;
  justify-content: space-between;
}

.contact__number,
.contact__name {
  font-size: 18px;
  font-weight: 600;
}

.contact__name {
  margin-right: 15px;
}

.contact__dlt-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  color: var(--dark-bg-text-color);
  background-color: var(--secondary-accent-color);
  cursor: pointer;
}
